<% provide(:title, "岩手 宮城 秋田のシロアリ対策なら") %>

<% flash.each do |key, value| %>
  <div class="alert alert-success" role="alert">
    <%= content_tag(:div, value, class: "#{key}") %>
  </div>
<% end %>

  <div class="intro-text">
    <div class="container">
      <div class="intro_message">
        岩手・宮城・秋田の人と住まいのいのちを
        <br>
        「やさしく、つよく、いつまでも」守る。
      </div>
      <h1 class = "intro_title">
        <span class="sub_title">腐食・シロアリ対策処理</span>
        <br>
        <span class="main_title">
        ボロンdeガード
        </span>
      </h1>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">
        お問い合わせはこちら！
      </a>
      </div>
    </div>
  </div>


<section id="question">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"><span class="toha">お家を劣化させる</span><br>「二大原因」<span class="toha"><br>をご存知ですか？</span></h2>
            <img src="/images/住宅劣化_理由.png" alt="住宅劣化の理由">
            <h3 class="section-subheading text-muted">
              <div class="section_text">お家を劣化させる二大要因とは、<br class="br-sp "><span class="green">「腐朽菌による家の腐れ」</span>と<br class="br-sp"><span class ="green">「シロアリによる腐れ」</span>です。</div>
              <div class="section_text">人生で一番の買い物であるお家が、<br class="br-sp">この２つの要因によって<br class="br-sp">30年ほどでボロボロになってしまいます。</div>
              <div class="section_text">しかし住宅予防の薬品は溢れており、<br class="br-sp">どれが一番いいかわからない方が<br class="br-sp">大半だと思います。</div>
              <div class="section_text">そんな方へ<br class="br-sp">天然素材である<span class="green">「ホウ酸」</span>を使った<br class="br-sp">住宅予防がおすすめです。</div>
              <div class="section_text">ホウ酸を使った予防なら<br class="br-sp">これら腐朽菌とシロアリを<br class="br-sp">撃退できるだけでなく、<br class="br-sp">半永久的に効果も持続します！</div>
              <div class="section_text">そのホウ酸を使った<br class="br-sp">腐食・シロアリ対策が<br class="br-sp"><span class="green">「ボロンdeガード」</span>です！</div>
            </h3>
          </div>
        </div>
      </div>
    </section>


    <section id="product"  class="gray_back">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ボロンdeガード<span class="toha">とは</span></h2>
            <img src="/images/ボロンdeガード.png" alt="ボロンdeガードの写真">
            <h3 class="section-subheading text-muted">
              <div class="section_text">ボロンdeガードとは、<br class="br-sp">自然素材「ホウ酸」でシロアリ対策する<br class="br-sp">木材保存剤です。</div>
              <div class="section_text">天然素材でできてるので、<br class="br-sp">住まいにも人にもやさしい！</div>
              <div class="section_text">住まいを「長持ち」させ、<br class="br-sp">安全のホウ酸処理です。</div>
              <div class="section_text"><%= link_to "2018年度グッドデザイン賞受賞", "https://www.g-mark.org/award/describe/47535"%></div>
            </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x my-green"></i>
              <i class="fas fa-briefcase-medical fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">身体に優しい</h4>
            <p class="text-muted">ボロンdeガードの主成分であるホウ酸は、土壌や雨、海水など私達の身の周りに溢れています。揮発成分が全く含まれていないので空気を汚さずに、屋内はいつまでも安全にクリーンなままであり、シックハウス症候群の心配のない天然素材です。</p>
          </div>
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x  my-green"></i>
              <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">効果が持続</h4>
            <p class="text-muted">主成分のホウ酸は天然の無機鉱物が原料のため、蒸散や揮発されないので、空気中に溶け込むことはなく、お家を守り続けるバリアは永続的に効果が持続します。期限は特になく、半永久的に続きます。</p>
          </div>
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x  my-green"></i>
              <i class="fas fa-yen-sign fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">低コスト</h4>
            <p class="text-muted">効果の永続性によりトータルコストに優れ、他の住宅メンテナンスに費用を使うことができます。他の合成殺虫剤では3~5年で期限が切れるものがほとんどである一方、ボロンdeガードなら効果が半永久的で長い目で見て低コストです。</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">お問い合わせ</h2>
            <h3 class="section-subheading text-muted">
              ボロンdeガードに関するお見積り・導入のご相談、<br class="ex_br">その他お問い合せは下記フォームから承ります。<br>
              回答はメールにてご連絡させていただきます。<br>
              以下項目を全てご入力いただき、<br class="ex_br">個人情報保護方針に同意の上、<br class="ex_br">内容を送信してください。<br>
          </div>
        </div>
        <% if @inquiry.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります！</strong>
            <ul>
              <% @inquiry.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-lg-12">
            <%= form_for @inquiry, url:root_path , :name => "sentMessage",:id =>"contactForm"  do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.text_field :name ,:class => 'form-control', :id => 'name' , :placeholder=> 'お名前 *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :kana ,:class => 'form-control', :id => 'kana' , :placeholder=> 'フリガナ'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :email,:class => 'form-control', :id => 'email' , :placeholder=> 'メールアドレス *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :phone ,:class => 'form-control', :id => 'phone' , :placeholder=> '電話番号 *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :address ,:class => 'form-control', :id => 'address' , :placeholder=> '住所'%>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.text_area :message ,:class => 'form-control', :id => 'message' , :placeholder=> 'お問い合わせ内容 *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                   <%= f.submit '送信', class: 'btn btn-xl btn-primary' ,:id => "sendMessageButton"%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
