<% provide(:title, "岩手 宮城 秋田のシロアリ対策なら") %>

<% flash.each do |key, value| %>
  <div class="alert alert-success" role="alert">
    <%= content_tag(:div, value, class: "#{key}") %>
  </div>
<% end %>

  <div class="intro-text">
    <div class="container">
      <div class="intro_message">
        岩手・宮城・秋田の人と住まいのいのちを
        <br>
        「やさしく、つよく、いつまでも」守る。
      </div>
      <div class = "intro_title">
        <span class="sub_title">シロアリ対策処理</span>
        <br>
        <span class="main_title">
        ボロンdeガード
        </span>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">
        お問い合わせはこちら！
      </a>
      </div>
    </div>
  </div>

<section id="product">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ボロンdeガード<span class="toha">とは</span></h2>
            <h3 class="section-subheading text-muted">
              <div class="section_text">自然素材「ホウ酸」でシロアリ対策する<br class="br-sp">木材保存剤です。</div>
              <div class="section_text">天然素材でできてるので、<br class="br-sp">住まいにも人にもやさしい！</div>
              <div class="section_text">住まいを「長持ち」させ、<br class="br-sp">安全のホウ酸処理です。</div>
              <div class="section_text"><%= link_to "2018年度グッドデザイン賞受賞", "https://www.g-mark.org/award/describe/47535"%></div>
            </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x my-green"></i>
              <i class="fas fa-briefcase-medical fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">身体に優しい</h4>
            <p class="text-muted">揮発成分が全く含まれていないので空気を汚さずに、屋内はいつまでも安全にクリーンなままです。</p>
          </div>
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x  my-green"></i>
              <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">効果が持続</h4>
            <p class="text-muted">主成分のホウ酸は天然の無機鉱物が原料のため、成分の揮発がなく、永続的に効果が持続します。</p>
          </div>
          <div class="col-sm-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x  my-green"></i>
              <i class="fas fa-yen-sign fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">低コスト</h4>
            <p class="text-muted">効果の永続性によりトータルコストに優れ、他の住宅メンテナンスに費用を使うことができます。</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">お問い合わせ</h2>
            <h3 class="section-subheading text-muted">
              ボロンdeガードに関するお見積り・導入のご相談、<br class="ex_br">その他お問い合せは下記フォームから承ります。<br>
              回答はメールにてご連絡させていただきます。<br>
              以下項目を全てご入力いただき、<br class="ex_br">個人情報保護方針に同意の上、<br class="ex_br">内容を送信してください。<br>
          </div>
        </div>
        <% if @inquiry.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります！</strong>
            <ul>
              <% @inquiry.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-lg-12">
            <%= form_for @inquiry, url:root_path , :name => "sentMessage",:id =>"contactForm"  do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.text_field :name ,:class => 'form-control', :id => 'name' , :placeholder=> 'お名前 *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :kana ,:class => 'form-control', :id => 'kana' , :placeholder=> 'フリガナ'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :email,:class => 'form-control', :id => 'email' , :placeholder=> 'メールアドレス *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :phone ,:class => 'form-control', :id => 'phone' , :placeholder=> '電話番号 *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :address ,:class => 'form-control', :id => 'address' , :placeholder=> '住所'%>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.text_area :message ,:class => 'form-control', :id => 'message' , :placeholder=> 'お問い合わせ内容 *必須'%>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                   <%= f.submit '送信', class: 'btn btn-xl btn-primary' ,:id => "sendMessageButton"%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
